#content2 strong{
    float: left;
    margin-left: 684px;
}
#content2 .left{
    width:58%;
    height:550px;
    float:left;
    margin-top:35px;
    margin-left:160px;
    background-color: white;

}
h3{
    float: left;
    margin-left: 0px;
}